# importa data set

In [1]:
import pandas as pd

In [10]:
train = pd.read_csv("dataset/train.csv")

In [7]:
test = pd.read_csv('dataset/test.csv')

In [13]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [16]:
#train.describe()

## Eliminando las columnas que no son necesarias

In [ ]:
## Name, Ticket, Cabin  (el nombre influye en la prediccion de quien sobrevivir√°?,el ticket o cabina?)

In [20]:
train.drop(["Name","Ticket","Cabin"], axis=1, inplace=True)

In [21]:
test.drop(["Name","Ticket","Cabin"], axis=1, inplace=True)

In [22]:
train.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

In [25]:
#para pasar el contenido en NUMEROs, creamos NUEVOS data sets, con pd.get_dummies(<DATASET>)

In [27]:
new_train= pd.get_dummies(train)
new_test= pd.get_dummies(test)

In [28]:
new_train.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,22.0,1,0,7.2500,0,1,0,0,1
1,2,1,1,38.0,1,0,71.2833,1,0,1,0,0
2,3,1,3,26.0,0,0,7.9250,1,0,0,0,1
3,4,1,1,35.0,1,0,53.1000,1,0,0,0,1
4,5,0,3,35.0,0,0,8.0500,0,1,0,0,1

In [ ]:
## VEAMOS CUALES SON LOS VALORES NULOS NaN

In [31]:
new_train.isnull().sum().sort_values(ascending=False).head(10)

Age           177
Embarked_S      0
Embarked_Q      0
Embarked_C      0
Sex_male        0
Sex_female      0
Fare            0
Parch           0
SibSp           0
Pclass          0
dtype: int64

In [ ]:
#como existen columnas que contienen valores nulos, entonces rellenamos con la MEDIA

In [41]:
new_train["Age"].fillna(new_train["Age"].mean(),inplace=True)
new_test["Age"].fillna(new_test["Age"].mean(),inplace=True)

In [42]:
#new_train.isnull().sum().sort_values(ascending=False).head(20)

In [ ]:
#VERIFICAMOS DE LA MISMA FORMA EN EL DATASET TEST

In [46]:
new_test.isnull().sum().sort_values(ascending=False).head(10)

Fare          1
Embarked_S    0
Embarked_Q    0
Embarked_C    0
Sex_male      0
Sex_female    0
Parch         0
SibSp         0
Age           0
Pclass        0
dtype: int64

In [49]:
new_test["Fare"].fillna(new_test["Fare"].mean(), inplace=True)

In [50]:
new_test.isnull().sum().sort_values(ascending=False).head(10)

Embarked_S    0
Embarked_Q    0
Embarked_C    0
Sex_male      0
Sex_female    0
Fare          0
Parch         0
SibSp         0
Age           0
Pclass        0
dtype: int64

In [51]:
# creamos las matrice X e y, siendo y la columna que queremos predecir,y X tiene el resto de las variables

In [60]:
##    CREACION DEL MODELO
from sklearn.tree import DecisionTreeClassifier

In [57]:
X = new_train.drop("Survived", axis=1)
y =new_train["Survived"]
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [105]:
tree = DecisionTreeClassifier(max_depth=3,random_state=0)

In [93]:
#ahora creo el model con el comando fit(X,y)

In [106]:
tree.fit(X,y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=0, splitter='best')

#el modelo ya esta creado y listao para hacer predicciones

In [ ]:
#Verificamos el nivel de PRECISION con el comando score()

In [107]:
tree.score(X,y)

0.8271604938271605

In [109]:
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.metrics import accuracy_score, log_loss
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis, QuadraticDiscriminantAnalysis
from sklearn.linear_model import LogisticRegression

classifiers = [
    KNeighborsClassifier(3),
    SVC(probability=True),
    DecisionTreeClassifier(),
    RandomForestClassifier(),
    AdaBoostClassifier(),
    GradientBoostingClassifier(),
    GaussianNB(),
    LinearDiscriminantAnalysis(),
    QuadraticDiscriminantAnalysis(),
    LogisticRegression()]

log_cols = ["Classifier", "Accuracy"]
log = pd.DataFrame(columns=log_cols)

In [99]:
sss = StratifiedShuffleSplit(n_splits=10, test_size=0.1, random_state=0)

In [110]:
for train_index, test_index in sss.split(X, y):
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]

    
    for clf in classifiers:
        name = clf.__class__.__name__
        clf.fit(X_train, y_train)
        train_predictions = clf.predict(X_test)
        acc = accuracy_score(y_test, train_predictions)
        if name in acc_dict:
            acc_dict[name] += acc
        else:
            acc_dict[name] = acc

for clf in acc_dict:
    acc_dict[clf] = acc_dict[clf] / 10.0
    log_entry = pd.DataFrame([[clf, acc_dict[clf]]], columns=log_cols)
    log = log.append(log_entry)

plt.xlabel('Accuracy')
plt.title('Classifier Accuracy')

sns.set_color_codes("muted")
sns.barplot(x='Accuracy', y='Classifier', data=log, color="b")

KeyError: "None of [Int64Index([890, 473, 836, 329, 737, 576, 615, 538, 671, 596,\n            ...\n            492, 311, 282, 631, 131, 490, 528,  48, 618,  80],\n           dtype='int64', length=801)] are in the [columns]"